header {
    padding:8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .subtitle {
        font-size: 18px;
    }

    button {
        background-color: white;
        border:none;
    }
}